<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Search</title>
    <style>
        body{
            background-color: #007cc9;
        }
    </style>
</head>

<header>
    {{> nosearch_header}}
</header>

<body class="{{template}}">
    <div>

    </div>
    <div style = "max-width: 50%; margin: auto;">
        {{{body}}}
    </div>
</body>
<!--
<footer>
    {{> footer}}
</footer>
-->
</html>